# Python
venv/
__pycache__/
*.pyc
*.pyo
.env

# Database — never commit real data
backend/database.db

# ML model (large binary file)
ml_model/model.pkl
ml_model/scaler.pkl

# React
frontend/node_modules/
frontend/build/

# Windows
Thumbs.db
desktop.ini

# Mac (if teammates use Mac)
.DS_Store